{% extends "manager/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<p class="h3">Order Detail</p>
  <table class="table">
      <tr class="p-2 " ><td >Order Status</td><td>
          <button type="button" class="btn btn-warning" id="status">{{order.order_status}}</button>
          </td></tr>
   <tr><td>Order Id</td><td>{{order.id}}</td></tr>
      {% for product in products %}
      <tr class="p-2 "><td><p>{{product.product.name}}</p>
      <p>{{product.product.sell_price}} MMK * {{product.quantity}}</p></td>
      <td>{{product.amount}} MMK</td><p hidden class="total">{{product.amount}}</p></tr>

      {% endfor %}
      <tr class="p-2 "><td >Delivery Fee</td><td id="fee"></td></tr>
   <tr class="p-2 "><td >Total</td><td id="overall_total">{{order.amount}} MMK</td></tr>

   <tr class="p-2 "><td >Address</td><td>{{order.user_address}}</td></tr>
      <tr class="p-2 "><td >Payment Type</td><td>{{order.user_payment}}</td></tr>
  <tr class="p-2 "><td >Payment Status</td><td>{{order.payment_status}}</td></tr>
      <tr class="p-2 "><td >Note</td><td>{{order.user_address.special_instruction}}</td></tr>
      <tr class="p-2 "><td >Date</td><td>{{order.created_date}}</td></tr>
  </table>
<div id="form">
    <form action="" method="post">
    {% csrf_token %}
<label for="sel1" class="form-label">Order Staus (select one):</label>
    <select class="form-select" id="sel1" name="order-status">
      <option value="Pending">Pending</option>
      <option value="Confirmed">Confirmed</option>
      <option value="Out for Delivery">Out for Delivery</option>
      <option value="Completed">Completed</option>
    </select>
    <div class="pt-2"><button type="submit" class="btn btn-primary">Change</button></div>
</form>
</div>
<a class="btn btn-success" href="{% url 'manager' %}">Manager</a>


<script>
    document.addEventListener("DOMContentLoaded", () => {
const totalElements = document.querySelectorAll(".total");
let total = 0;

    totalElements.forEach(totalElement => {
        let currentTotal = parseInt(totalElement.textContent);
        if (!isNaN(currentTotal)) {
            total += currentTotal;
        }
    });
    document.getElementById("fee").innerHTML = parseInt(document.getElementById("overall_total").innerHTML)-total + ' MMK';
    if(document.getElementById('status').innerHTML == 'Completed'){
document.getElementById('form').style.display = 'none';
    }


});
</script>
{% endblock %}